<h1><%= @club.name %></h1>
<h3>This club has <%= pluralize @club.players.count, 'player' %>.</h3>

<p><%= link_to 'Home', root_path %></p>

<% if @club.players.count == 0 %>
  <h2>Sorry, no players here yet.</h2>
<% else %>
  <ul>
    <% @club.players.each do |player| %>
      <li>
        <%= link_to player.name, player %>, <%= player.position %>
      </li>
    <% end %>
  </ul>
<% end %>
