<h1><%= @club.name %></h1>
<h3>This club has <%= pluralize @club.players.count, 'player' %>.</h3>

<p><%= link_to @club.league.name, @club.league %></p>

<div class="container">
  <% if @club.players.count == 0 %>
    <h2>Sorry, no players here yet.</h2>
  <% else %>
    <div class="row">
      <% @club.players.each do |player| %>
        <div class="col-4">
          <%= link_to player.name, player %>, <%= player.position %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
