<h1>Players</h1>

<% if @players.count == 0 %>
  <h2>Sorry, no players here yet.</h2>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Full Name</th>
      <th>Overall</th>
      <th>Nationality</th>
      <th>League</th>
      <th>Club</th>
    </tr>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player %></td>
        <td><%= player.full_name %></td>
        <td><%= player.rating.to_s %></td>
        <td><%= link_to player.nation.name, player.nation %></td>
        <td><%= link_to player.league.name, player.league %></td>
        <td><%= link_to player.club.name, player.club %></td>
      </tr>
    <% end %>
  </table>
  <%= pagy_nav(@pagy).html_safe %>
<% end %>
