<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Fifa 19 Cards", root_path %></h1>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', permalink_path(permalink: 'about_us') %></li>
        </ul>
      </nav>
      <%= form_tag players_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= select_tag :card_type, options_from_collection_for_select(CardType.all, "id", "quality"), include_blank: "All" %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
    </header>
    <p></p>
    <%= yield %>
  </body>
</html>
